<a href="https://colab.research.google.com/github/Yahya-Daqour/Absence-Detection/blob/main/Absence_detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""This program can be only used for IR course in JUST University (2 sections) and lectures times are fixed
Students can attend the lecture in any section they want
the minimum time to be recorded as attendee is 50 minutes"""
import numpy as np
import pandas as pd

In [ ]:
from google.colab import files #Upload the file that contains Registered students
uploaded =files.upload()

Saving RegisteredStudents.csv to RegisteredStudents.csv

In [ ]:
from google.colab import files #First section
uploaded =files.upload()

Saving meetingAttendanceList (2).csv to meetingAttendanceList (2).csv

In [ ]:
from google.colab import files #Second section
uploaded =files.upload()

Saving meetingAttendanceList (5).csv to meetingAttendanceList (5).csv

In [ ]:
df_name = pd.read_csv('RegisteredStudents.csv') #Students names from Elearning into dataframe
df_name

                     Full Name  Duration in lec  Sec
0        YOUSEF OMAR AL MOMANI  0 days 00:00:00    3
1          ADNAN MAHMOUD ABOUD  0 days 00:00:00    3
2    SONDUS YOUSEF AL BATAINEH  0 days 00:00:00    3
3         IBRAHIM TAHA AL ESSA  0 days 00:00:00    3
4   GHUFRAN SULAIMAN KHATATBEH  0 days 00:00:00    3
..                         ...              ...  ...
62         YAHYA ISMAIL DAQUOR  0 days 00:00:00    1
63          SUHIB AMJED MARAQA  0 days 00:00:00    1
64   ALA'A MOH'DKHAIR AL-OMARI  0 days 00:00:00    1
65     AHMAD SHAWKAT AL MOMANI  0 days 00:00:00    1
66      MOHAMMAD BILAL OBEIDAT  0 days 00:00:00    1

[67 rows x 3 columns]

In [ ]:
#rename the file in the read function 
df_file1 = pd.read_csv('meetingAttendanceList (2).csv', encoding='utf-16', sep = "\t") #changing the default encoding utf-8 (Error)
df_file2 = pd.read_csv('meetingAttendanceList (5).csv', encoding='utf-16', sep = "\t") 
df_att = pd.concat([df_file1, df_file2], ignore_index=True)
df_att

                  Full Name User Action              Timestamp
0            Malak Abdullah      Joined  3/7/2021, 12:59:42 PM
1        HASHEM ZIAD ALAYAN      Joined  3/7/2021, 12:59:53 PM
2     Ahmed Firas Al-Qarqaz      Joined   3/7/2021, 1:00:05 PM
3     RANEEM AKTHAM MAHMOUD      Joined   3/7/2021, 1:00:16 PM
4     AHMAD IMAD AL-MAABREH      Joined   3/7/2021, 1:00:18 PM
..                      ...         ...                    ...
75  SONDOS MAHMOUD ALHOWARI      Joined   3/7/2021, 2:58:41 PM
76      ADNAN MAHMOUD ABOUD      Joined   3/7/2021, 2:50:47 PM
77      ADNAN MAHMOUD ABOUD        Left   3/7/2021, 3:38:24 PM
78      ADNAN MAHMOUD ABOUD      Joined   3/7/2021, 3:38:36 PM
79     BILAL YOUSEF OBEIDAT      Joined   3/7/2021, 2:53:10 PM

[80 rows x 3 columns]

In [ ]:
#remove dates in 'Timestamp'
for att_index, att_row in df_att.iterrows():
  remove_index = df_att.iloc[att_index,2].find(', ') #will use this index to remove the date
  df_att.iloc[att_index,2] = df_att.iloc[att_index,2][remove_index+1 : ]
df_att

                  Full Name User Action     Timestamp
0            Malak Abdullah      Joined   12:59:42 PM
1        HASHEM ZIAD ALAYAN      Joined   12:59:53 PM
2     Ahmed Firas Al-Qarqaz      Joined    1:00:05 PM
3     RANEEM AKTHAM MAHMOUD      Joined    1:00:16 PM
4     AHMAD IMAD AL-MAABREH      Joined    1:00:18 PM
..                      ...         ...           ...
75  SONDOS MAHMOUD ALHOWARI      Joined    2:58:41 PM
76      ADNAN MAHMOUD ABOUD      Joined    2:50:47 PM
77      ADNAN MAHMOUD ABOUD        Left    3:38:24 PM
78      ADNAN MAHMOUD ABOUD      Joined    3:38:36 PM
79     BILAL YOUSEF OBEIDAT      Joined    2:53:10 PM

[80 rows x 3 columns]

In [ ]:
#adding an empty dataframe
df_att = df_att.append(pd.Series(), ignore_index=True)
df_att

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

                Full Name User Action     Timestamp
0          Malak Abdullah      Joined   12:59:42 PM
1      HASHEM ZIAD ALAYAN      Joined   12:59:53 PM
2   Ahmed Firas Al-Qarqaz      Joined    1:00:05 PM
3   RANEEM AKTHAM MAHMOUD      Joined    1:00:16 PM
4   AHMAD IMAD AL-MAABREH      Joined    1:00:18 PM
..                    ...         ...           ...
76    ADNAN MAHMOUD ABOUD      Joined    2:50:47 PM
77    ADNAN MAHMOUD ABOUD        Left    3:38:24 PM
78    ADNAN MAHMOUD ABOUD      Joined    3:38:36 PM
79   BILAL YOUSEF OBEIDAT      Joined    2:53:10 PM
80                    NaN         NaN           NaN

[81 rows x 3 columns]

In [ ]:
#determine the time in lecture for each student
sec3_starttime = pd.to_datetime(' 1:00:00 PM', format=' %I:%M:%S %p') #section 3 start time
sec1_starttime = pd.to_datetime(' 2:30:00 PM', format=' %I:%M:%S %p') #section 1 start time
sec1_endtime = pd.to_datetime(' 3:50:00 PM', format=' %I:%M:%S %p') #section 3 end time
sec3_endtime = pd.to_datetime(' 2:20:00 PM', format=' %I:%M:%S %p') #section 1 end time


for name_index, name_row in df_name.iterrows():
  
  for att_index, att_row in df_att.iterrows():
  
    if df_name.iloc[name_index, 0] == df_att.iloc[att_index, 0] and not df_att.iloc[-1,0] == np.nan: #checks if the name in 'RegisteredStudents' equals the name in 'meetingAttendance' file
      duration =0  
  
      if (df_att.iloc[att_index, 1] == 'Joined' or df_att.iloc[att_index, 1] =='Joined before') and df_att.iloc[att_index + 1, 1] == 'Left': #student have joined and left
        start = pd.to_datetime(df_att.iloc[att_index, 2], format=' %I:%M:%S %p')
        end = pd.to_datetime(df_att.iloc[att_index + 1,2], format=' %I:%M:%S %p')
        duration = end - start
        df_name.iloc[name_index, 1] += duration      
      
      elif (df_att.iloc[att_index, 1] == 'Joined' or df_att.iloc[att_index, 1] =='Joined before'):
        time = pd.to_datetime(df_att.iloc[att_index,2], format=' %I:%M:%S %p')
        if time > sec3_starttime and time < sec3_endtime or time < sec3_starttime :
          df_name.iloc[name_index, 1] += sec3_endtime - pd.to_datetime(df_att.iloc[att_index ,2],format=' %I:%M:%S %p')

        else:
          df_name.iloc[name_index, 1] += sec1_endtime - pd.to_datetime(df_att.iloc[att_index ,2],format=' %I:%M:%S %p')

In [ ]:
df_name

                     Full Name  Duration in lec  Sec
0        YOUSEF OMAR AL MOMANI  0 days 01:02:03    3
1          ADNAN MAHMOUD ABOUD  0 days 00:59:01    3
2    SONDUS YOUSEF AL BATAINEH  0 days 01:16:36    3
3         IBRAHIM TAHA AL ESSA  0 days 00:00:00    3
4   GHUFRAN SULAIMAN KHATATBEH  0 days 01:04:32    3
..                         ...              ...  ...
62         YAHYA ISMAIL DAQUOR  0 days 01:17:46    1
63          SUHIB AMJED MARAQA  0 days 01:17:46    1
64   ALA'A MOH'DKHAIR AL-OMARI  0 days 01:17:41    1
65     AHMAD SHAWKAT AL MOMANI  0 days 01:10:10    1
66      MOHAMMAD BILAL OBEIDAT  0 days 00:00:00    1

[67 rows x 3 columns]

In [ ]:
#students who absent from the lecture 
df_absent = pd.DataFrame(columns=['Full Name', 'Duration in lec'])
min_time = pd.to_timedelta('0 days 00:50:00')
for name_index, name_row in df_name.iterrows():
  if pd.to_timedelta(df_name.iloc[name_index, 1]) < min_time:
    df_absent = df_absent.append(name_row, ignore_index=True)

df_absent

                         Full Name  Duration in lec  Sec
0             IBRAHIM TAHA AL ESSA  0 days 00:00:00  3.0
1   ABDEL RAHMAN MARWAN AL ALAWNEH  0 days 00:00:52  3.0
2    MOHAMMAD ORWAH AKIF AL LUBANY  0 days 00:00:00  3.0
3              QATADAH RAED  ZGOOL  0 days 00:00:00  3.0
4           REEM MISHRIF BANY HANI  0 days 00:00:00  3.0
5              ANAS ALI ALRWASHDEH  0 days 00:00:00  1.0
6         MOHAMMAD ROSHDI AL AHMAD  0 days 00:00:00  1.0
7            MOHAMMAD NAZEEH ELAWI  0 days 00:00:00  1.0
8              SIRIN BASSAM TALUZY  0 days 00:00:00  1.0
9             MOHAMMAD ALI KAN''AN  0 days 00:00:00  1.0
10            BILAL SAMI AL HAMDAN  0 days 00:00:00  1.0
11          ABEDAL RAHMAN AL OMARY  0 days 00:00:00  1.0
12             HATEM SOFYAN ABURUB  0 days 00:00:00  1.0
13          MOHANAD KHALED MEHDAWI  0 days 00:00:00  1.0
14       SAIF ALDEEN TALAL ALZU'BI  0 days 00:00:00  1.0
15               SAJA HANI MALKAWI  0 days 00:00:00  1.0
16         Faisal Hassan Al-Nusair  0 days 00:00:00  1.0
17          MOHAMMAD BILAL OBEIDAT  0 days 00:00:00  1.0

In [ ]:
#df_absent.to_csv()
from google.colab import files
df_absent.to_csv ('df_absent.csv')
files.download('df_absent.csv')